@charset "UTF-8";

@font-face {
    font-family: 'Montserrat';
    src: url('../Eliebson/fontes/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'bebas';
    src: url('../Eliebson/fontes/BebasNeue-Regular.ttf');
}

body {
    font-family: 'Montserrat';
}

header {
    font-family: 'montserrat';
    font-size: 1.1em;

}

.custom-navbar {
    background-color: #130F09;

}

.secaopretacor {
    background-color: #130F09;
}

/* teste 3 img */

/* .imagem-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.imagem-container img {
    max-width: 30%;
    height: auto;
} */

/* teste 3 img */

/*********************** teste section1 */

.padingi {
    padding-right: 50%;
}

.secao-inicial {
    position: relative;
    height: 100vh;
    background-image: url('imagens/FOTO.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #130F09;
}

.sobreposicao-escura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Ajuste a opacidade conforme necessário */
}

.texto-sobreposto .textodestaque-home {
    font-size: 2.5em;
    font-weight: bold;
    align-items: left;
    z-index: 1;
    font-family: 'bebas';
}

.texto-sobreposto .subtitulohome {
    font-size: 1em;

}

.texto-sobreposto {
    z-index: 1;
}

/* *****************teste section1**************** */
.imagemcentro {
    display: flex;
    justify-content: left;
    align-items: left;
}

.imgfundo {
    max-width: 100%;
}

.custom-section0 {
    align-items: center;
}

.custom-card {
    width: 100%;
}

ul {
    list-style-type: inherit;
}

.ebook {
    background-color: #FF6000;
    border-radius: 5px;
    width: 20px;
    height: 50px;
}

.maior-margem-esquerda {
    margin-left: 150em;

}

.custom-row {
    margin-bottom:
        2.5rem;
    /*
             Adicione a margem inferior desejada em rem */
}

.divlaranja1 {
    padding: 20px;
}

.laranja {
    background-color: #FF6000;
    width: 300px;
    height: 500px;
}

.laranja2 {
    background-color: #FF6000;
    width: 800px;
    margin-left: 60px;
    height: 100%;
}

.branco {
    background-color: #fff;
    width: 300px;
    /* text-align: center; */
    margin-left: 0px;
    height: 600px;
}

.espacamento {
    align-items: center;
    text-align: center;
    margin-top: 100%;

}

.espacamento1 {
    border: 1px solid #FF6000;
    border-radius: 20px;
    width: 75%;
}

.espacamento2 {
    margin-left: 0%;
}

.text-laranja {
    color: #FF6000;
    font-weight: bold;
    white-space: normal;
}

.texto-white {
    font-weight: bold;
    white-space: pre-line;
    align-items: center;
    text-align: center;
}

.textoDestaque-centro {
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.textoDestaque-final {
    margin-top: 20px;
}


.tamanho {
    margin-top: 60px;
    margin-left: 20px;
    /* padding-right: 40px; */
}

.tamanho-texto {
    padding-right: 20px;
    margin-left: 80px;
    margin-top: 80px;
}


.imagem1 {
    width: 100%;
    height: auto;
}


.imagem1::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.7);
    z-index: 1;
}

.sobremim {
    color: aqua;
}

.eliebson-nome {
    font-size: 2.5em;
}

.texto-section3-principal {
    margin-top: 130px;
    font-weight: bold;
    font-size: 2.8em;
}

.texto-section3-subtitulo {
    margin-top: 70px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;

}


.destaque-texto-altonivel {
    margin-top: 90px;
    font-size: 2.5em;
    font-weight: bold;
}

.subtitulo-texto-altonivel {
    color: gray;
    font-size: 1.0em;
}

.textosobremim {
    margin-top: 7%;
}

/* .figure-img {
    margin-top: -40%;
} */

/* ***************************botao padrao******************************* */

.buttonContratar {
    background: #FF6000;
    color: #fff;
    border: none;
    position: relative;
    height: 40px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 8px;
}

.buttonContratar:hover {
    background: #fff;
    color: #FF6000;
    border-radius: 8px;
}

.buttonContratar:before,
.buttonContratar:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #FF6000;
    transition: 400ms ease all;
    border-radius: 8px;
}

.buttonContratar:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
    border-radius: 8px;
}

.buttonContratar:hover:before,
.buttonContratar:hover:after {
    width: 100%;
    transition: 800ms ease all;
    border-radius: 8px;
}

/* ***************************botao padrao******************************* */


/************************* BOTÃO DA SECTION 1 ************************/
.buttons1 {
    background: blue;
    color: #fff;
    border: none;
    position: relative;
    height: 40px;
    font-size: 1.0em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 8px;
}


.buttons1:hover {
    background: #fff;
    color: blue;
    border-radius: 8px;
}

.buttons1:before,
.buttons1:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: blue;
    transition: 400ms ease all;
    border-radius: 8px;
}

.buttons1:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
    border-radius: 8px;
}

.buttons1:hover:before,
.buttons1:hover:after {
    width: 100%;
    transition: 800ms ease all;
    border-radius: 8px;
}

/************************* BOTÃO DA SECTION 1 ************************/


/************************* BOTÃO whatsapp ************************/
.custom-buttonzap {
    background: #25d366;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.2em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 8px;
}


.custom-buttonzap:hover {
    background: #fff;
    color: #25d366;
    border-radius: 8px;
}

.custom-buttonzap:before,
.custom-buttonzap:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background: #25d366;
    transition: 400ms ease all;
    border-radius: 8px;
}

.custom-buttonzap:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
    border-radius: 8px;
}

.custom-buttonzap:hover:before,
.custom-buttonzap:hover:after {
    width: 100%;
    transition: 800ms ease all;
    border-radius: 8px;
}

/************************* BOTÃO whatsapp ************************/


.teste {
    padding-left: 15px;
}

.whatsapp {
    align-items: center;
    padding-block-end: 1%;
    width: 20px;

}

.espacamento {
    margin-top: 100px;
}

.texto-destaqueS5 {
    top: 50px;
    margin-top: 10px;
    font-size: 3.0em;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitulo-destaqueS5 {
    text-transform: uppercase;
    font-size: 15px;
    color: #FF6000;
}

.espacamentoFinal {
    margin-top: 150%;
}

.texto-destaqueS7 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #FF6000;
}

.subtitulo-destaqueS7 {
    top: 50px;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.margem {
    margin-top: 10px;
    margin-left: 300px;
    display: block;
    /* padding-right: 40px; */
}

.planosonline {
    margin-top: 50px;
}

.planospresencial {
    margin-top: 100px;
}

.logo {
    width: 1000px;
    height: 800px;
}


/* TEXTE DA IMAGEM */
.custom-section {
    position: relative;
}

.custom-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Garante que a imagem cubra todo o espaço, mantendo a proporção */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Ajuste a opacidade conforme necessário */
}

.text-overlay {
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    align-items: left;
}

.bg-custom1 {
    background-color: black;
    text-align: left;
    align-items: left;
}


.custom-section0 {
    position: relative;

}

.container {
    max-width: 1200px;
}

.textoDestaque-centro:hover {
    color: #FF6000;
    /* Substitua "yourHoverColor" pela cor desejada no hover */
}



/* **********************LINHAS DAS IMAGENS************************ */

/* .planosonline::after {
    content: '';
    display: block;
    width: 50px;
    border-bottom: 7px solid #FF6000;
    margin-top: 10px;
    box-sizing: border-box;
    margin-left: 48%;
} */

.linha-planospresencial {
    border-bottom: 5px solid #FF6000;
    transition: 1s;
    cursor: pointer;
}

.linha-planospresencial:hover {
    border-bottom: 5px solid black;
    transition: 1s;
}

.linha5::after {
    content: '';
    display: block;
    width: 50px;
    border-bottom: 7px solid #FF6000;
    margin-top: -5%;
    box-sizing: border-box;
    margin-left: 48%;
}

.linha3::before {
    content: '';
    display: block;
    width: 50px;
    border-bottom: 7px solid #FF6000;
    box-sizing: border-box;
    margin-left: 48%;
}

/* linha2 teste */
.linha-vertical {
    border-left: 3px solid blue;
    padding-left: 3%;
}

/* linha2 teste */

.linha2::before {
    content: '';
    display: block;
    width: 50px;
    border-right: 4px solid blue;
    box-sizing: border-box;
    position: absolute;
    top: 91%;
    left: -40px;
    /* Ajuste conforme necessário para alinhar à esquerda do texto */
    height: 6%;
}

.linha1::before {
    content: '';
    display: block;
    width: 50px;
    border-bottom: 7px solid blue;
    box-sizing: border-box;
}

/* **********************LINHAS DAS IMAGENS************************ */


/* *******************telas de até 600************************ */

@media screen and (max-width: 600px) {

    .secao-inicial {
        padding: 20px;
        /*   */
        height: auto;
    }

    .texto-sobreposto {
        font-size: 50%;
    }

    .secao-inicial .imgfundo {
        max-height: 30vh;
    }

    .laranja2 {
        margin-left: 0%;
        width: auto;
        text-align: center;
        margin-top: -10%;
    }

    .laranja {
        margin-left: 0%;
        width: auto;
        /* text-align: center; */
    }

    .espaçamentoFinal {
        margin-top: 15px;
    }

    .secao1 {
        padding: 10%;
        display: flex;
    }

    .textodestaque-home {
        font-size: 18px;
        margin-top: 20px;
        width: px;
        margin-left: 0px;
        float: center;
        white-space: nowrap;
        align-items: left;
        text-indent: 0;
        margin-bottom: 10px;
    }

    .subtitulohome {
        font-size: 12px;
        /* margin-bottom:  1em; */
    }

    .buttons1 {
        /* display: flex;
        position: relative; */
        font-size: 15px;
        height: 20px;
        padding-top: -12px;
        /* margin-left: 100%; */
        margin-top: 0%;
        /* margin-left: 80px; */

    }

    .card-body {
        text-align: left;
        align-items: left;

    }

    .textosobremim {
        margin-top: 15px;
    }


    .containerseca3 {
        margin-top: -80px;

    }

    .linha2::before {
        content: '';
        display: block;
        width: 50px;
        border-right: 4px solid blue;
        box-sizing: border-box;
        position: absolute;
        top: 88%;
        left: -40px;
        height: 10%;
    }

    .figure {
        margin-top: 13px;
    }

    .imagemEliebson {
        width: 70%;
        margin-left: 16%;

    }

    .custom-buttonzap {
        font-size: 11px;
        height: 100%;
        width: 150%px;
    }

    .tamanho-texto {
        align-items: left;
        margin-left: 10px;
        margin-top: 10px;
    }

    .sobremim {
        font-size: 20px;
    }

    .eliebson-nome {
        font-size: 1.5em;
    }

    .textolongo {
        font-size: 13px;

    }

    .texto-section3-principal {
        font-size: 30px;
        margin-top: 20px;
    }

    .texto-section3-subtitulo {
        font-size: 15px;
        margin-top: 10%;

    }

    .destaque-texto-altonivel {
        margin-top: 10%;

    }

    .buttonContratar {
        font-size: 15px;
        height: 180%;
        width: 150%px;
        margin-left: 10px;
    }

    .secao-inicial {
        margin-top: 15%;
    }

    .distanciaimg {
        margin: 0px 0px -100px 0px;
    }
}


/* ******************************Para telas entre 600px e 768px***************************** */

@media (min-width: 600px) and (max-width: 768px) {
    .secao-inicial {
        padding: 10px;
        /* height: auto; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-esquerda {
        text-align: center;
        margin-top: 100px;
    }

    .laranja2 {
        width: 100%;
        height: 100%;
    }
}

/* *********************tablet***************************** */

@media screen and (min-width: 768px) {

    .secao1 {
        margin-left: 0px;
    }

    .laranja {
        margin-left: 0px;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .laranja2 {
        margin-left: 25%;
        width: 98%;
        text-align: center;

    }

    .col-md-10,
    .col-md-4 {
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        margin-left: 0px;
    }

    .custom-col-margin .col-md-1,
    .custom-col-margin .col-md-2,
    .custom-col-margin .col-md-3,
    .custom-col-margin .col-md-5 {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .secao6 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .figure {
        margin-top: 50%;
    }

    .planospresencial::before {
        width: 4%;
        height: 7px;
        top: 1054%;
        left: 50%;
    }

    .custom-section0 {
        margin-left: 22%;
    }

    .linha2::before {
        content: '';
        display: block;
        width: 50px;
        border-right: 4px solid blue;
        box-sizing: border-box;
        position: absolute;
        top: 69%;
        left: -40px;
        height: 27%;
    }

    .textodestaque-home {
        font-size: 1.0em;
        /* Ajuste o tamanho conforme necessário */
    }

    .fs-md-5,
    .fs-lg-6 {
        font-size: 1rem;
        /* Ajuste o tamanho conforme necessário */
    }

    .margem {
        margin-left: 20px;
    }

    .texto-section3-principal {
        margin-top: 50px;
    }
}

/* *********************desktop 992px -- 1200px****************** */

@media screen and (min-width:992px) and (max-width:1200px) {
    .card-body {
        margin-top: 15%;
    }

    .tamanho-texto .card-body {
        align-items: left;
        margin-left: 10px;
        margin-top: 40px;
    }

    .figure {
        margin-top: 70px;
    }

    .laranja {
        margin-left: 0px;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .laranja2 {
        margin-left: 25%;
        width: 75%;
        text-align: center;

    }

    .espacamentosecao6 {
        margin-left: 10%;
    }

}


/* telas grandes 1200px */

@media screen and (min-width:1200px) {
    .linha2::before {
        content: '';
        display: block;
        width: 50px;
        border-right: 4px solid blue;
        box-sizing: border-box;
        position: absolute;
        top: 87%;
        left: -40px;
        height: 10%;
    }

    .figure {
        margin-top: 2%;
    }

    .laranja2 {
        margin-left: 0%;
        width: 100%;
        text-align: center;
    }
}